<a href="/shows">Shows Index</a>
<a href="/streaming_services">Streaming Services Index</a>

<h1>All Streaming Services</h1>

<% @streaming_services.each do |service| %>
  <h3><%= service.name %>, Created at: <%= service.created_at %> <%= link_to "Update #{service.name}", "/streaming_services/#{service.id}/edit" %>
  <%= button_to "Delete #{service.name}", "/streaming_services/#{service.id}", method: :delete %></h3><br/>
<% end %><br/><br/>

<%= link_to "New Streaming Service", "/streaming_services/new" %>