<a href="/shows">Shows Index</a>
<a href="/streaming_services">Streaming Services Index</a>

<h1>All Streaming Services</h1>

<% @streaming_services.each do |service| %>
  <h2><%= link_to "#{service.name}", "/streaming_services/#{service.id}" %></h2>
  <p>Created at: <%= service.created_at %></p>
  <%= button_to "Update #{service.name}", "/streaming_services/#{service.id}/edit", method: :get %><br/>
  <%= button_to "Delete #{service.name}", "/streaming_services/#{service.id}", method: :delete %>
<% end %><br/><br/><br/>

<%= button_to "New Streaming Service", "/streaming_services/new", method: :get %>