<a href="/shows">Shows Index</a>
<a href="/streaming_services">Streaming Services Index</a>

<h2><%= @streaming_service.name %>'s Shows</h2><br/>
<% @shows.each do |show| %>
  <h3><%= show.name %></h3>
  <p>Genre: <%= show.genre %></p>
  <p>Released: <%= show.released %></p>
  <p><%= show.seasons %> Seasons</p>
  <p><%= show.episodes %> Episodes</p>
  <p><%= show.episode_runtime %> Minute Episodes</p><br/>
  <p></p>
<% end %>
  
<%= button_to "Create Show", "/streaming_services/#{@streaming_service.id}/shows/new", method: :get %>