<h2><%= @show.name %></h2>
<p>Genre: <%= @show.genre %></p>
<p>Released: <%= @released_y_n %></p>
<p><%= @show.seasons %> Seasons</p>
<p><%= @show.episodes %> Episodes</p>
<p><%= @show.episode_runtime %> Minute Episodes</p>
<p>Available on: <%= @streaming_service %></p>